build/
xcuserdata/
.floo

cross-*.txt

node_modules
app/xtermjs/xterm-dist
app/xtermjs/.cache

subprojects/
!subprojects/*.wrap

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

e2e_out/
root.tar.gz

.tmp-root-alpine-fix/
.tmp-root-devuan-edit/
.tmp-root-inspect/
.tmp-root-select-fastfix-v322/
.tmp-root-select-fastfix/
com.apple.DeveloperTools/
tests/host/

.claude/
CLAUDE.md
